@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Lobster&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Righteous", cursive;
}

.quiz-container {
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 2px #357ab7;
          box-shadow: 1px 1px 10px 2px #357ab7;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.quiz-container .quiz-header {
  padding: 3.5rem;
}

.quiz-container .quiz-header h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Fredoka One", cursive;
}

.quiz-container .quiz-header ul {
  list-style: none;
}

.quiz-container .quiz-header li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz-container .quiz-header li:last-of-type {
  margin-bottom: 0;
}

.quiz-container .quiz-header input {
  margin-right: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f7f7f7;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 1px solid #9dc1ea;
  position: relative;
  cursor: pointer;
}

.quiz-container .quiz-header input:checked {
  background-color: #357ab7;
  border: 1px solid #357ab7;
}

.quiz-container .quiz-header input:checked::after {
  content: "\2714";
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quiz-container .quiz-header input + label {
  cursor: pointer;
}

.quiz-container button {
  background-color: #5aabf3;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 2rem;
  display: block;
  width: 100%;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: no-drop;
}

.quiz-container button.active {
  background-color: #0c5fa8 !important;
  cursor: pointer !important;
}

.quiz-container .final {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  text-align: center;
}

.quiz-container .final i {
  color: #55b955;
}

.quiz-container .final h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
}

.quiz-container .final p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.quiz-container .final span {
  color: #0c5fa8;
  font-size: 2rem;
}

.quiz-container .final button {
  background-color: #0c5fa8;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 1rem;
  width: 70%;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.quiz-container .final button:hover {
  background-color: #094478;
}
