@mixin d-flex($justify-content, $align-items, $direction: row) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin d-grid($grid-template-columns, $gap: 0) {
   display: grid;
   grid-template-columns: $grid-template-columns;
   gap: $gap;
}
