@import "mixins";

// Google font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

body {
   font-family: "Open Sans", sans-serif;
   height: 100vh;
   @include d-flex(center, center);
   background: linear-gradient(to right, #005aa7, #fffde4);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#app {
   width: 400px;
   max-width: 90%;
   height: 400px;
   border: 2px solid black;
   border-radius: 5px;
   overflow: hidden;
   font-weight: bold;
   display: grid;
   grid-template-rows: auto 1fr;
   .header {
      padding: 12px;
      @include d-grid(auto 1fr auto);
      align-items: center;
      background-color: #222;
      color: #eee;
      &__status {
         text-align: center;
      }
      &__reset {
         background-color: transparent;
         border: none;
         outline: none;
         @include d-flex(center, center);
         cursor: pointer;
         color: inherit;
      }
   }

   .board {
      background: linear-gradient(to right, #00b4db, #0083b0);
      padding: 10px;
      @include d-grid(repeat(3, 1fr), 10px);
      grid-template-rows: repeat(3, 1fr);
      &__tile {
         @include d-flex(center, center);
         background-color: #fff;
         color: #222;
         cursor: pointer;
         &--winner {
            color: green;
         }
         &:hover {
            background-color: #eee;
         }
         font: {
            size: 70px;
            family: cursive;
         }
      }
   }
}
