// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Fredoka+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap");

// Variables
$city-font-family: "Fredoka One", cursive;
$main-font-family: "Yusei Magic", sans-serif;
$heading-font-family: "Anton", sans-serif;
$main-color: #3c1053;
$header-font: "Gorditas", cursive;
